
<div class="container main-container">
  <div class="container-fluid" >

    <div class="row">
      <div class="col-md-12 col-xs-1">
        <h2>BLOG</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-xs-1">
        <div class="input-group">
          <input
            #query
            (keyup)="searchPosts(query.value)"
            class="form-control" type="text" placeholder="Search blog..." aria-label="Search">
          <div class="input-group-btn">
            <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <hr>

  <div class="container-fluid">
    <div class="row">
      <ng-container *ngFor="let b of filteredPosts">
        <div class="col-md-3 col-sm-6 col-xs-1">
          <app-blog-card [blogPost]="b" [routerLink]="['/view-post/', b.$key]"></app-blog-card>
        </div>
      </ng-container>
    </div>
  </div>

</div>
