<div class="container-fluid content">
  <div class="row">
    <div class="col">
      <h1>Overview</h1>
      <hr>
      <p>Your account overview...</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="container-fluid cont">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, dolore eius est expedita fugit harum inventore ipsam ipsum, iste labore laudantium minima minus numquam possimus quae repellat sed ut veritatis.</p>
      </div>

      <div class="container-fluid cont">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, dolore eius est expedita fugit harum inventore ipsam ipsum, iste labore laudantium minima minus numquam possimus quae repellat sed ut veritatis.</p>

      </div>
    </div>

    <div class="col">
      <div class="container-fluid cont">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, dolore eius est expedita fugit harum inventore ipsam ipsum, iste labore laudantium minima minus numquam possimus quae repellat sed ut veritatis.</p>
      </div>
    </div>

  </div>
</div>
