<div class="container-fluid content">
  <div class="row">
    <div class="col">
      <h3 class="header">DASHBOARDS</h3>
      <h1>Overview</h1>
      <hr>
      <p>Welcome Sanood !</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-1">
      <div class="container-fluid cont page-view">
        <h4>PAGE VIEWS</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur laborum minus optio qui, suscipit ut voluptates! A atque consectetur, ducimus ea eos, itaque pariatur ratione saepe sequi vero voluptatem.</p>
      </div>
    </div>

    <div class="col-md-3 col-xs-1">
      <div class="container-fluid cont downloads">
        <h4>Downloads</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur laborum minus optio qui, suscipit ut voluptates! A atque consectetur, ducimus ea eos, itaque pariatur ratione saepe sequi vero voluptatem.</p>
      </div>
    </div>

    <div class="col-md-3 col-xs-1">
      <div class="container-fluid cont messages">
        <h4>MESSAGES</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur laborum minus optio qui, suscipit ut voluptates! A atque consectetur, ducimus ea eos, itaque pariatur ratione saepe sequi vero voluptatem.</p>
      </div>
    </div>

    <div class="col-md-3 col-xs-1">
      <div class="container-fluid cont other">
        <h4>PAGE VIEWS</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur laborum minus optio qui, suscipit ut voluptates! A atque consectetur, ducimus ea eos, itaque pariatur ratione saepe sequi vero voluptatem.</p>
      </div>
    </div>
  </div>


</div>
