
<div class="card">

  <div class="card-header"
       [style.backgroundImage]="'url(' + profile.personalInfo?.picture + ')'">
    <div class="card-header-bar">
      <button href="#" class="btn-message"><span class="sr-only">Message</span></button>
      <button href="#" class="btn-menu"><span class="sr-only">Menu</span></button>
    </div>

    <div class="card-header-slanted-edge">
      <svg xmlns="http://www/w3/org/2000/svg" viewBox="0 0 1700 200">
        <path class="polygon" d="M-20, 200,1700,0V200Z"></path></svg>
      <a href="#" class="btn-follow"><span class="sr-only">Follow</span></a>
    </div>
  </div>

  <div class="card-body">
    <h2 class="name">{{profile.personalInfo?.name}}</h2>
    <h4 class="job-title">Game Developer</h4>
    <div class="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>

    <div class="social-accounts">
      <a *ngIf="profile?.facebook" [href]="profile?.facebook" target="_blank"><i class="fa fa-media fa-fw fa-facebook"></i></a>
      <a *ngIf="profile?.twitter" [href]="profile?.twitter" target="_blank"><i class="fa fa-media fa-fw fa-twitter"></i></a>
      <a *ngIf="profile?.instagram" [href]="profile?.instagram" target="_blank"><i class="fa fa-media fa-fw fa-instagram"></i></a>
      <a *ngIf="profile?.linkedin" [href]="profile?.linkedin" target="_blank"><i class="fa fa-media fa-fw fa-linkedin"></i></a>
      <a *ngIf="profile?.youtube" [href]="profile?.youtube" target="_blank"><i class="fa fa-media fa-fw fa-youtube"></i></a>
      <a *ngIf="profile?.github" [href]="profile?.github" target="_blank"><i class="fa fa-media fa-fw fa-github"></i></a>
    </div>
  </div>

  <div class="card-footer">
    <div class="stats">
      <div class="stat">
        <span class="label">Following</span>
        <span class="value">76K</span>
      </div>
      <div class="stat">
        <span class="label">Followers</span>
        <span class="value">767K</span>
      </div>
      <div class="stat">
        <span class="label">Likes</span>
        <span class="value">320</span>
      </div>
    </div>
  </div>
</div>
