<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <button (click)="toggleSidebar()" class="navbar-toggler sidebar-toggle" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand mb-0 h1" routerLink="">Phoenix</a>
  <button (click)="toggleCollapse()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse show navbar-collapse" [class.show]="show" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <h6 class="dropdown-header">Phoenix Engine</h6>
            <a class="dropdown-item" (click)="toggleCollapse();" routerLink="">Overview</a>
            <a class="dropdown-item" (click)="toggleCollapse();" routerLink="">Showcase</a>
            <a class="dropdown-item" (click)="toggleCollapse();" routerLink="">Versions</a>
            <h6 class="dropdown-header">Additional Links</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="toggleCollapse();" routerLink="">FAQ</a>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toggleCollapse();" routerLink="/marketplace">Marketplace</a>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Learn</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown03">
            <a class="dropdown-item" (click)="toggleCollapse();" routerLink="">Documentation</a>
            <a class="dropdown-item" (click)="toggleCollapse();" routerLink="">Tutorials</a>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toggleCollapse();" routerLink="/about">About</a>
      </li>
    </ul>


    <ul class="navbar-nav ml-auto">

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-media fa-search fa-2x" aria-hidden="true" style="font-size: 25px; vertical-align: -webkit-baseline-middle "></i>
        </a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown04">
          <div class="container-fluid">
            <form class="form-inline">
              <div class="input-group">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <div class="input-group-btn">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-media fa-th fa-2x" aria-hidden="true"  style="font-size: 25px; vertical-align: -webkit-baseline-middle "></i>
        </a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown05">
          <div class="container-fluid">
            <br>
            <h4><strong>Follow Phoenix On</strong></h4>
          </div>
          <hr>
          <div class="container-fluid">
            <mat-grid-list cols="3" rowHeight="1:1">
              <mat-grid-tile>
                <a class="btn btn-light sm-icon" target="_blank" href="http://www.twitter.com">
                  <i class="fa fa-media fa-twitter fa-2x fa-fw color-twitter"></i>
                  <div>
                    <p style="font-size: small">Twitter</p>
                  </div>
                </a>
              </mat-grid-tile>

              <mat-grid-tile>
                <a class="btn btn-light sm-icon" target="_blank" href="http://www.twitter.com">
                  <i class="fa fa-media fa-facebook fa-2x fa-fw color-facebook"></i>
                  <div>
                    <p style="font-size: small">Facebook</p>
                  </div>
                </a>
              </mat-grid-tile>

              <mat-grid-tile>
                <a class="btn btn-light sm-icon" target="_blank" href="http://www.twitter.com">
                  <i class="fa fa-media fa-linkedin fa-2x fa-fw color-linkedin"></i>
                  <div>
                    <p style="font-size: small">LinkedIn</p>
                  </div>
                </a>
              </mat-grid-tile>

              <mat-grid-tile>
                <a class="btn btn-light sm-icon" target="_blank" href="http://www.twitter.com">
                  <i class="fa fa-media fa-google-plus fa-2x fa-fw color-google"></i>
                  <div>
                    <p style="font-size: small">Google +</p>
                  </div>
                </a>
              </mat-grid-tile>

              <mat-grid-tile>
                <a class="btn btn-light sm-icon" target="_blank" href="http://www.twitter.com">
                  <i class="fa fa-media fa-youtube fa-2x fa-fw color-youtube"></i>
                  <div>
                    <p style="font-size: small">Youtube</p>
                  </div>
                </a>
              </mat-grid-tile>

              <mat-grid-tile>
                <a class="btn btn-light sm-icon" target="_blank" href="http://www.twitter.com">
                  <i class="fa fa-media fa-instagram fa-2x fa-fw color-instagram"></i>
                  <div>
                    <p style="font-size: small">Instagram</p>
                  </div>
                </a>
              </mat-grid-tile>

              <mat-grid-tile>
                <a class="btn btn-light sm-icon" target="_blank" href="http://www.twitter.com">
                  <i class="fa fa-media fa-github fa-2x fa-fw color-github"></i>
                  <div>
                    <p style="font-size: small">Github</p>
                  </div>
                </a>
              </mat-grid-tile>

              <mat-grid-tile>
                <a class="btn btn-light sm-icon" target="_blank" href="http://www.twitter.com">
                  <i class="fa fa-media fa-pinterest fa-2x fa-fw color-pinterest"></i>
                  <div>
                    <p style="font-size: small">Pinterest</p>
                  </div>
                </a>
              </mat-grid-tile>

              <mat-grid-tile>
                <a class="btn btn-light sm-icon" target="_blank" href="http://www.twitter.com">
                  <i class="fa fa-media fa-linkedin fa-2x fa-fw color-twitter"></i>
                  <div>
                    <p style="font-size: small;">Twitter</p>
                  </div>
                </a>
              </mat-grid-tile>

            </mat-grid-list>
          </div>

        </div>
      </li>

      <ng-template #anonymousUser>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-success btn-sm btn-signup" (click)="openLogin()">Log In</a>
        </li>

        <li class="nav-item">
          <a class="nav-link btn btn-outline-primary btn-sm btn-signup" (click)="openSignup()">Sign Up</a>
        </li>
      </ng-template>

      <li *ngIf="appUser; else anonymousUser" ngbDropdown class="nav-item">
        <button ngbDropdownToggle mat-mini-fab class="nav-link dropdown-toggle btn-user" [style.backgroundImage]="'url(' + appUser.picture + ')'" ></button>

        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
          <h6 class="dropdown-header">Welcome {{appUser.name}} !</h6>
          <a class="dropdown-item" (click)="toggleCollapse();" routerLink="/dashboard">Dashboard</a>

          <ng-container *ngIf="appUser.isAdmin">
            <a class="dropdown-item" (click)="toggleCollapse();" routerLink="/admin-test">{{appUser.isAdmin}}</a>
            <a class="dropdown-item" (click)="toggleCollapse();" routerLink="/admin/products">Manage Products</a>
          </ng-container>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logOut(); toggleCollapse();" routerLink="">Log Out</a>
        </div>
      </li>

    </ul>

  </div>
</nav>


