.dropdown-toggle{ cursor: pointer; }
.sm-icon{width: 100%; height: 100%; border-radius: 2px; display: inline-block; float: none;}
.sm-icon > i {padding-top: 5px;}

/* User Button */
.btn-user{background-color: transparent;background-repeat: no-repeat;background-size: cover;background-position: center center;}
.navbar{padding: 0.7rem 1rem !important;}
.nav-link{letter-spacing: 2px; font-size: small}
/*========= Desktop ========*/
@media (min-width: 768px){
  .mr-auto{margin-left: 30px;}
  .sidebar-toggle{display: inline; margin-right: 10px;}

  /*All dropdown menus*/

  .dropdown:active .dropdown-menu{display: block;}
  .dropdown-menu{border-radius: 2px; width: 250px; top: 45px !important; background-color: #202020; font-size: smaller;}
  .dropdown-menu:after{position: absolute;left: 5%;top: -10px;content: '';border-left: 9px solid transparent;border-right: 9px solid transparent;border-bottom: 10px solid #202020;}
  /*Right dropdown menus*/
  .dropdown-menu-right {border-radius: 2px; right: 0; left: auto !important; top: 55px !important; background-color: #202020;}
  .dropdown-menu-right:after{position: absolute;left: 88%;top: -10px;content: '';border-left: 9px solid transparent;border-right: 9px solid transparent;border-bottom: 10px solid #202020;}
  .dropdown-item{color: white; font-size: smallng serve; letter-spacing: 3px;}
  /*Signup buttons*/
  .btn-signup{border-radius: 2px; margin-left: 5px; margin-top: 5px; padding: 5px; cursor: pointer;}
  /*User Button*/
  .btn-user{margin-left: 5px; margin-top: 3px;}
  .show-username{margin-left: 0px; display: inline-block !important; text-align: right !important; vertical-align: top; line-height: 40px;}

  /* Search Menu */
  .form-control{margin-right: 0px !important;}
}

/*========= Mobile ========*/
@media (max-width: 767px){
  .navbar{padding-left: 0px !important; padding-right: 0px !important; overflow-y: scroll;}
  .navbar-collapse{margin-top: 10px; border-top: 1px solid #202020;}
  .navbar-brand{margin-left: 40%;}
  .navbar-toggler{margin-right: 15px; border: none;}
  .navbar-toggler:focus{outline: none !important;}
  .navbar-nav{}
  .nav-link{padding: 15px 0px 15px 15px; }
  .nav-link:hover{background-color: #000000;}
  .ml-auto .btn-signup{margin-top: 10px;}
  .dropdown-menu{border-radius: 0px; background-color: transparent;}
  .dropdown-header{display: none;}
  .dropdown-item{color: #bbbbbb; font-size: small; padding-top: 10px; padding-bottom: 10px;}
  .dropdown-item:hover{background-color: #000000;}
  .dropdown-divider{display: none;}
  .btn{border: none !important;  text-align: left !important;}
  .show-username{margin-left: 10px; display: inline-block !important; text-align: right !important; vertical-align: top; line-height: 40px;}
  .btn-user::after { display:none !important; }
  /* Search Menu */
  .input-group{width: 100%; resize: none; align-items: center;}
  .form-control{margin-right: 0px !important;}

}


