.mat-dialog-container{background-color: #7d5d81 !important;}
.sm-buttons{width: 100%; margin-top: 10px; color: white; letter-spacing: 2px;}
.sm-fb{background-color: #3b5998;}
.sm-g{background-color: #dd4b39;}
.btn-login{background-color: #187030; height: 50px;}
.login-form{width: 100%; padding-top: 5px;}
.or{
  position: relative;
  width: 100%;
  height: 25px;
  line-height: 50px;
  text-align: center;
}

.or::before,
.or::after {
  position: absolute;
  width: 45%;
  height: 1px;
  top: 24px;
  background-color: #aaa;
  content: '';
}

.or::before {
  left: 0;
}

.or::after {
  right: 0;
}

.lg-icn{float: left; font-size: x-large; padding-top: 5px;}
