
<div class="container main-container">

  <div class="container-fluid" >

    <div class="row">
      <div class="col-md-12 col-xs-1">
        <h2>MARKETPLACE</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-xs-1">
        <div class="input-group">
          <input
            #query
            (keyup)="searchProducts(query.value)"
            class="form-control" type="text" placeholder="Search marketplace..." aria-label="Search">
          <div class="input-group-btn">
            <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <hr>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-xs-1">

        <h2 (click)="bla()">Your shopping cart</h2>

        <ng-container *ngIf="cart$ | async as cart">
          <p>You have {{cart.numberOfItems}} items in your shopping cart.</p>

          <table class="table">
            <thead>
            <tr>
              <th>Product</th>
              <th>Discount</th>
              <th>Price</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let item of cart.items">
              <td>{{ item.product.title }}</td>
              <td>0%</td>
              <td>{{ item.product.price | currency: 'USD':code }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <th></th>
              <th></th>
              <th>{{ cart.totalPrice | currency: 'USD':code }}</th>
            </tr>
            </tfoot>
          </table>

        </ng-container>

      </div>
    </div>
  </div>
