<div class="container-fluid content">
  <div class="row">
    <div class="col">
      <h1>Profile</h1>
      <hr>
      <p>Always make sure that your profile information is up to date.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <div class="container-fluid cont">
          <h2>Profile Information</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="profile-picture">
              <img src="../assets/images/user-profile-icon.png">
            </div>
          </div>
          <div class="col-md-8">
                <ul>
                  <li>aksanood</li>
                  <li>aksanood@gmail.com</li>
                </ul>
            <button mat-raised-button>Edit profile</button>
          </div>
        </div>
      </div>

      <div class="container-fluid cont">
        dgfgfg
      </div>

    </div>

    <div class="col">
      <div class="container-fluid cont">
        dd
      </div>
    </div>

  </div>
</div>
