<div class="container-fluid content">

  <div class="row">
    <div class="col-md-12 col-xs-1">
      <h3 class="header">DASHBOARDS</h3>
      <h1>Products</h1>
      <hr>
      <p>Your products overview. You can add, edit or delete your products here.</p>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12 col-xs-1">

      <mat-tab-group>

        <mat-tab label="My products">
          <div class="container-fluid view-products">
            <div class="row">
              <ng-container *ngFor="let p of userProducts; let i = index">
                <div class="col-md-4 col-xs-1">
                  <app-product-card  [product]="p" [show-description]="false"></app-product-card>
                </div>
              </ng-container>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Edit products">
          <div class="container-fluid view-products">
            <app-edit-products [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" [products]="userProducts"></app-edit-products>
          </div>
        </mat-tab>

        <mat-tab *ngIf="appUser.isAdmin" label="All products">
          <div class="container-fluid view-products">
            <app-edit-products [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" [products]="products"></app-edit-products>
          </div>
        </mat-tab>

      </mat-tab-group>

    </div>

  </div>

</div>
