<div class="container-fluid content">

  <div class="row">
    <div class="col-md-12 col-xs-1">
      <h3 class="header">DASHBOARDS</h3>
      <h1>Profile</h1>
      <hr>
      <p>Always make sure that your profile information is up to date.</p>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6 col-xs-1">
      <div class="container-fluid cont-top">
          <h2>Profile Information</h2>
        <br>
        <div class="row">
          <div class="col-md-4 col-xs-1">
            <div class="profile-picture">
              <img *ngIf="!user.picture" src="../assets/images/user-profile-icon.png">
              <img *ngIf="!profile.picture" [src]="user.picture">
              <img *ngIf="profile.picture" [src]="profile.picture">
            </div>
          </div>
          <div class="col-md-8 col-xs-1">
                <ul>
                  <li><h3>{{user.name | uppercase }}</h3></li>
                  <li>{{'Username : ' + user.username}}</li>
                  <li>{{'Email : ' + user.email}}</li>
                </ul>
            <button mat-raised-button>Edit profile</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xs-1">
      <div class="container-fluid cont-top">

        <h3>Links to your Phoenix pages</h3>
        <p>Please use these links for your personal/business use.You can include these in your resume, emails,
        social media and other websites.</p>
        <p>Products - <a href="">http://phoenixfcg.com/sanood/products</a></p>
        <p>Portfolio - <a href="">http://phoenixfcg.com/sanood/portfolio</a></p>
        <p>Blog - <a href="">http://phoenixfcg.com/sanood/blog</a></p>
        <p>Tutorials - <a href="">http://phoenixfcg.com/sanood/tutorials</a></p>


      </div>
    </div>

  </div>

  <div class="profile-form">
    <form #f="ngForm">
      <div class="row">

        <div class="col-md-6 col-xs-1">

          <div class="container-fluid cont-bottom">

            <h3>Contact Information</h3>

            <div class="form-group">
              <label for="">Name</label>
              <input #name="ngModel" name="name" [(ngModel)]="profileInfo.name"
                     type="text" class="form-control" [value]="profile?.name">
            </div>

            <div class="form-group">
              <label for="">Email</label>
              <input disabled #email="ngModel" name="email" [(ngModel)]="user.email"
                     type="text" class="form-control" [value]="user.email">
            </div>

            <div class="form-group">
              <label for="">Contact number</label>
              <input #contactNumber="ngModel" name="contactNumber" [(ngModel)]="profileInfo.contactNumber"
                     type="number" class="form-control" [value]="profile?.contactNumber" required>
              <div class="alert" *ngIf="contactNumber.touched && contactNumber.invalid">
                <div *ngIf="contactNumber.errors.required">*Contact Number is required.</div>
              </div>
            </div>


            <div class="form-group">
              <label for="">Address Line 1</label>
              <input #addressLine1="ngModel" name="addressLine1" [(ngModel)]="profileInfo.addressLine1"
                     type="text" class="form-control" placeholder="Line 1" [value]="profile?.addressLine1" required>
              <div class="alert" *ngIf="addressLine1.touched && addressLine1.invalid">
                <div *ngIf="addressLine1.errors.required">*Address Line 1 is required.</div>
              </div>
            </div>

            <div class="form-group">
              <label for="">Address Line 2 (Optional)</label>
              <input #addressLine2="ngModel" name="addressLine2" [(ngModel)]="profileInfo.addressLine2"
                     type="text" class="form-control" placeholder="Line 2" [value]="profile?.addressLine1">
            </div>

            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label for="">Country</label>
                  <input #country="ngModel" name="country" [(ngModel)]="profileInfo.country"
                         type="text" class="form-control" [value]="profile?.country" required>
                  <div class="alert" *ngIf="country.touched && country.invalid">
                    <div *ngIf="country.errors.required">*Country is required.</div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="">City</label>
                  <input #city="ngModel" name="city" [(ngModel)]="profileInfo.city"
                         type="text" class="form-control" required [value]="profile?.city">
                  <div class="alert" *ngIf="city.touched && city.invalid">
                    <div *ngIf="city.errors.required">*City is required.</div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Postcode</label>
                  <input #postcode="ngModel" name="postcode" [(ngModel)]="profileInfo.postcode"
                         type="text" class="form-control" [value]="profile?.postcode" required>
                  <div class="alert" *ngIf="postcode.touched && postcode.invalid">
                    <div *ngIf="postcode.errors.required">*Postcode is required.</div>
                  </div>
                </div>
              </div>
            </div>

              <h3>Introduction and profile picture</h3>

              <div class="form-group">
                <button  (click)="openUploader()" class="btn btn-upload btn-secondary">Upload image</button>
              </div>

            <div class="form-group">
              <button  (click)="openGallery()" class="btn btn-upload btn-secondary">Choose from gallery</button>
            </div>

              <div class="form-group">
                <label for="">About me</label>
                <textarea #about="ngModel" name="about" [(ngModel)]="profileInfo.about" rows="5"
                          type="text" class="form-control" placeholder="Introduce yourself here..."
                          [value]="profile?.about">
            </textarea>
              </div>

          </div>

        </div>

        <div class="col-md-6 col-xs-1">
          <div class="container-fluid cont-bottom">

            <h3>Links</h3>

            <div class="form-group">
              <label for="">Website url</label>
              <input #website="ngModel" name="website" [(ngModel)]="profileInfo.website"
                     type="text" class="form-control" [value]="profile?.website">
            </div>

            <div class="form-group">
              <label for="">Facebook</label>
              <input #facebook="ngModel" name="facebook" [(ngModel)]="profileInfo.facebook"
                     type="text" class="form-control" [value]="profile?.facebook">
            </div>

            <div class="form-group">
              <label for="">LinkedIn</label>
              <input #linkedin="ngModel" name="linkedin" [(ngModel)]="profileInfo.linkedin"
                     type="text" class="form-control" [value]="profile?.linkedin">
            </div>

            <div class="form-group">
              <label for="">Twitter</label>
              <input #twitter="ngModel" name="twitter" [(ngModel)]="profileInfo.twitter"
                     type="text" class="form-control" [value]="profile?.twitter">
            </div>

            <div class="form-group">
              <label for="">Youtube</label>
              <input #youtube="ngModel" name="youtube" [(ngModel)]="profileInfo.youtube"
                     type="text" class="form-control" [value]="profile?.youtube">
            </div>

            <div class="form-group">
              <label for="">Github</label>
              <input #github="ngModel" name="github" [(ngModel)]="profileInfo.github"
                     type="text" class="form-control" [value]="profile?.github">
            </div>


            <button (click)="submitProfile()" class="btn btn-primary">Save to profile</button>

          </div>
        </div>

      </div>
    </form>
  </div>

</div>
