
<div class="container-fluid">
    <span (click)="closeDialog()" class="close">&times;</span>
</div>

<div class="container-fluid">

  <div class="container">
      <h2 class="heading">Upload Files</h2>
      <input type="file" (change)="handleFiles($event)" multiple> 
      <button (click)="uploadFiles()" class="btn btn-primary">Upload Files</button>
      <button (click)="deleteFile()" class="btn btn-primary">Delete File</button>
  </div>

  <div class="container">
        <div *ngIf="upload">
            <div class="progress">
                <div class="progress-bar progress-bar-animated"
                  [ngStyle]="{'width': upload?.progress + '%'}"></div>
            </div>
            Progress: {{upload?.progress}}% complete.
            <h5>{{upload?.message}}</h5>
            <div class="control-bittons">
                <ul>
                  <li><span (click)="pauseUpload()" class="fa fa-media fa-pause-circle fa-fw"></span></li>
                  <li><span (click)="resumeUpload()" class="fa fa-media fa-play-circle fa-fw"></span></li>
                  <li><span (click)="stopUpload()" class="fa fa-media fa-stop-circle  fa-fw"></span></li>
                </ul>
            </div>
          </div>
    </div>
    
</div>