
  <div class="container main-container">
    <div class="container-fluid" >

      <div class="row">
        <div class="col-md-12 col-xs-1">
          <h2>MARKETPLACE</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-xs-1">
          <div class="input-group">
            <input
              #query
              (keyup)="searchProducts(query.value)"
              class="form-control" type="text" placeholder="Search marketplace..." aria-label="Search">
            <div class="input-group-btn">
              <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-1">
          <h3><strong>Categories &#160; / &#160;
            <p *ngIf="!category"> All categories</p>
              <p style="text-transform: capitalize"> {{category}}</p>
          </strong>
          </h3>
        </div>
        <div class="col-md-6 col-xs-1">
          <div ngbDropdown class="dropdown float-right">
            <button ngbDropdownToggle class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort :
            </button>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item">Recently added</a>
              <a class="dropdown-item">Price - highest first</a>
              <a class="dropdown-item">Price - lowest first</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-xs-1">
          <app-product-filter (paid)="filterPaidProducts(category)" (free)="filterFreeProducts(category)" [category]="category"></app-product-filter>
        </div>

        <div class="col-md-9 col-xs-1">
          <div class="row">
            <ng-container *ngFor="let p of filteredProducts; let i = index">
              <div class="col-md-4 col-xs-1">
                <app-product-card  [product]="p" [show-description]="false" [routerLink]="['../product-view/', p.$key]"></app-product-card>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

  </div>







