

<div class="container-fluid">

  <div class="row">
    <div class="col-md-12 col-xs-1">
      <div class="container-fluid first-container">
        <h1>ABOUT</h1>
        <div class="row">
          <div class="col-md-8">
            <div class="about-header">
              <p class="impression">
                " FIRST CLASS GAMING. " BIG OMAHA HAS CONNECTED OVER 4,000
                FOUNDERS, ENTREPRENEURS, AND INVESTORS THROUGH THOUGHT-PROVOKING, INSPIRATIONAL,
                AND ENGAGING ANNUAL CONFERENCES.
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="logo image">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-1">
      <div class="container-fluid second-container">
        <div class="row">
          <div class="col-md-4 col-xs-1">
            <div class="founder-image image"></div>
          </div>

          <div class="col-md-8 col-xs-1">
            <h2>Phoenix Background</h2>
            <P>
              Silicon Prairie News co-founders Jeff Slobotski and Dusty Davidson started the Big Omaha
              conference in 2009. The inaugural event brought together 400+ entrepreneurs,
              innovators, and creatives to hear almost a dozen nationally recognized speakers.
              The event began with straightforward goals — inspire attendees to follow their passions,
              build businesses they love, and strengthen their creative communities.
              Silicon Prairie News co-founders Jeff Slobotski and Dusty Davidson started the Big Omaha
              conference in 2009. The inaugural event brought together 400+ entrepreneurs,
              innovators, and creatives to hear almost a dozen nationally recognized speakers.
              The event began with straightforward goals — inspire attendees to follow their passions,
              build businesses they love, and strengthen their creative communities.
            </P>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-1">
      <div class="container-fluid third-container">
        <div class="row">
          <div class="col-md-8 col-xs-1">
            <h2>Amazing Gaming experience</h2>
            <p>
              Silicon Prairie News co-founders Jeff Slobotski and Dusty Davidson started the Big
              Omaha conference in 2009. The inaugural event brought together 400+ entrepreneurs,
              innovators, and creatives to hear almost a dozen nationally recognized speakers.
              The event began with straightforward goals — inspire attendees to follow their passions,
              build businesses they love, and strengthen their creative communities.
              Silicon Prairie News co-founders Jeff Slobotski and Dusty Davidson started the Big
              Omaha conference in 2009. The inaugural event brought together 400+ entrepreneurs,
              innovators, and creatives to hear almost a dozen nationally recognized speakers.
              The event began with straightforward goals — inspire attendees to follow their passions,
              build businesses they love, and strengthen their creative communities.
            </p>
          </div>

          <div class="col-md-4 col-xs-1">
            <div class="gaming-image image"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-1">
      <div class="container-fluid fourth-container">
        <div class="banner"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-1">
      <div class="container-fluid fifth-container">
        <div class="about-header">
          <p class="impression">
            " FIRST CLASS GAMING. " BIG OMAHA HAS CONNECTED OVER 4,000
            FOUNDERS, ENTREPRENEURS, AND INVESTORS THROUGH THOUGHT-PROVOKING, INSPIRATIONAL,
            AND ENGAGING ANNUAL CONFERENCES.
          </p>
          <p>
            Silicon Prairie News co-founders Jeff Slobotski and Dusty Davidson started the Big
            Omaha conference in 2009. The inaugural event brought together 400+ entrepreneurs,
            innovators, and creatives to hear almost a dozen nationally recognized speakers.
            The event began with straightforward goals — inspire attendees to follow their passions,
            build businesses they love, and strengthen their creative communities.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>



