<div class="container-fluid">

  <div class="row">
    <div class="col">
      <span (click)="closeDialog()" class="close">&times;</span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Select Image</h2>
    </div>
  </div>

  <div class="container-fluid image-gallery">

    <div class="row">
      <ng-container *ngFor="let image of images">
        <div class="col-3">
          <button (click)="selectImage(image)" class="select" [style.backgroundImage]="'url(' + image.url + ')'">
          </button>
        </div>
      </ng-container>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-right" (click)="submitImage()">Select this image</button>
    </div>
  </div>

</div>
