/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans|Russo+One";
@import "../node_modules/codemirror/lib/codemirror.css";

/*COLORS*/
.color-red{color: #FF0000;}
.color-green{color: #6cbc42;}
.color-blue{color: #0080c5;}
.color-gray{color: #636363;}
.color-white{color: #ffffff;}
.color-twitter{color:#55acee;}
.color-facebook{color:#3b5998;}
.color-linkedin{color:#007bb5;}
.color-google{color:#dd4b39;}
.color-youtube{color:#ff0000;}
.color-instagram{color:#e95950;}
.color-github{color:#323232;}
.color-pinterest{color:#BC091B;}

html {
    position: relative;
    min-height: 100%;
  }
body {

  }
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

/*========= Desktop ========*/
@media (min-width: 768px){

}

/*========= Mobile ========*/
@media (max-width: 767px){

}
