
@import "~@angular/material/_theming";
@import "~angular-star-rating/assets/scss/star-rating";

@include mat-core();

/*========= Main Theme ========*/
$app-primary: mat-palette($mat-blue-grey, 600);
$app-accent: mat-palette($mat-cyan, 700);
$app-warn: mat-palette($mat-red);
$app-background: mat-palette($mat-red);
$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);
/*========= Main Typography ========*/
$app-typography: mat-typography-config(
  $font-family:   'Open Sans, "Helvetica Neue", sans-serif',
  $display-4:     mat-typography-level(112px, 112px, 300),
  $display-3:     mat-typography-level(56px, 56px, 400),
  $display-2:     mat-typography-level(45px, 48px, 400),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(24px, 32px, 400),
  $title:         mat-typography-level(20px, 32px, 500),
  $subheading-2:  mat-typography-level(16px, 28px, 400),
  $subheading-1:  mat-typography-level(15px, 24px, 400),
  $body-2:        mat-typography-level(14px, 24px, 500),
  $body-1:        mat-typography-level(14px, 20px, 400),
  $caption:       mat-typography-level(12px, 20px, 400),
  $button:        mat-typography-level(14px, 14px, 500),
  // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(16px, 1.125, 400)
);

@include angular-material-typography($app-typography);

/*========= Alternative Theme ========*/
$alt-primary: mat-palette($mat-yellow);
$alt-accent:  mat-palette($mat-light-blue, 200);
$alt-theme: mat-light-theme($alt-primary, $alt-accent);
.alternative {
  @include angular-material-theme($alt-theme);
}

/*========= Common Styles ========*/
body{background: linear-gradient(#174251, #1A2638); background-repeat: no-repeat; background-attachment: fixed; color: #FEFEFE; display: flex;flex-direction: column; overflow-x: hidden;}
.nav-color{
  background: linear-gradient(90deg,rgba(22, 25, 32, 0.4), #161920);
  box-shadow: 0 -6px 67px 0 rgba(0, 0, 0, 0.48);
}

.drop-shadow{box-shadow: 0 5px 10px rgba(0, 0, 0, 0.48);}
hr{background-color: rgba(0, 151, 167, 0.52)}
h6{margin: 0px !important;}

/*========= Ngx-Editor Styles ========*/
.ngx-editor{background-color: white; border: 10px solid white; color: black}

/*========= Angular Star Rating Styles ========*/
.rating{
  justify-content: left;
  margin-bottom: 0px;
  margin-left: -6px;
}
.rating:focus{
  outline: none;
}
.mat-expansion-panel-body{background:white !important;}
/*========= Panels card styles ========*/
.panel-color{
  background-color: rgba(22, 25, 32, 0.48) !important;
}

/*========= Tooltip Styles ========*/
.mat-tooltip{
  background-color: #313131;
}

/*========= Dialog boxes Styles ========*/
.mat-dialog-container{
  background: #f4f4f4;
}

/*========= Data Table ========*/

.dataTables_wrapper{
  background-color: transparent;
  padding: 15px;
  border: solid 1px green;
  border-radius: 2px;
  color: white;
}
thead{
  background-color: #aaaaaa;
}

.mat-icon{display: none !important;}