
<div class="container main-container">
  <div class="container-fluid" >

    <div class="row">
      <div class="col-md-12 col-xs-1">
        <h2>TUTORIALS</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-xs-1">
        <div class="input-group">
          <input
            #query
            class="form-control" type="text" placeholder="Search tutorials..." aria-label="Search">
          <div class="input-group-btn">
            <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

  <hr>
