
<div class="container-fluid">

  <div class="row">
    <div class="col-md-12 col-xs-1">
      <div class="container-fluid first-container">

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-1">
      <div class="container-fluid second-container">

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-1">
      <div class="container-fluid third-container">

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-1">
      <div class="container-fluid fourth-container">

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-1">
      <div class="container-fluid fifth-container">

      </div>
    </div>
  </div>

</div>



