

<div class="list-group">

  <div class="header">DASHBOARD</div>
  <h2>Navigation</h2>

  <a
    class="list-group-item list-group-item-action"
    routerLink="dashboard-overview/"
  >Overview</a>

  <a
    class="list-group-item list-group-item-action"
    routerLink="dashboard-user-profile/"
  >Profile</a>

  <a
    class="list-group-item list-group-item-action"
    routerLink="dashboard-overview/"
  >Downloads</a>

  <a
    class="list-group-item list-group-item-action"
    routerLink="dashboard-overview/"
  >Portfolio</a>

  <a
    class="list-group-item list-group-item-action"
    routerLink="dashboard-overview/"
  >Messages</a>

  <div class="header">MORE</div>

    <a
      class="list-group-item list-group-item-action"
      routerLink="dashboard-user-products/"
    >Products</a>



  <a
    class="list-group-item list-group-item-action"
    routerLink="dashboard-overview/"
  >Tutorials</a>

  <a
    class="list-group-item list-group-item-action"
    routerLink="dashboard-overview/"
  >Blog</a>
</div>
