

<div class="list-group">

  <div class="header">DASHBOARD NAVIGATION</div>

  <a
    class="list-group-item list-group-item-action"
    routerLink="dashboard-overview/"
  >Overview</a>

  <a
    class="list-group-item list-group-item-action"
    routerLink="dashboard-user-profile/"
  >Profile</a>

  <a
    class="list-group-item list-group-item-action"
    routerLink="dashboard-overview/"
  >Order history</a>

  <a
    class="list-group-item list-group-item-action"
    routerLink="dashboard-overview/"
  >Fluid layout</a>

  <a
    class="list-group-item list-group-item-action"
    routerLink="dashboard-overview/"
  >Icon nav</a>

  <div class="header">MORE</div>

    <a
      class="list-group-item list-group-item-action"
      routerLink="admin/products/"
    >Products</a>



  <a
    class="list-group-item list-group-item-action"
    routerLink="dashboard-overview/"
  >Tutorials</a>

  <a
    class="list-group-item list-group-item-action"
    routerLink="dashboard-overview/"
  >Blog</a>
</div>
